<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Background Remover</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <h1>Background Remover</h1>
    <p>Upload an image and remove background instantly</p>

    <input type="file" id="imageInput" accept="image/*" hidden>

    <button id="selectBtn" class="btn primary">
        Select Image
    </button>

    <div class="preview-wrapper">
        <img id="previewImage" />
    </div>

    <button id="removeBtn" class="btn success" disabled>
        Remove Background & Download
    </button>
</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
